body{
    background-color: #3a4d8d;
}

aside{
    float: left;
    background-color: whitesmoke;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: brown;
    border-right: 5px solid #4d4d4d;
}
aside img{
    width: 120px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top:  5px;
}

aside h3{
    margin-top: 50px;
    font-size: 32px;
    margin-left: -5px;
}

aside ul{list-style: none}
aside ul li {
    color: red;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

a{
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover{
    color:brown;
    text-decoration: none;
    transform: scale(1.05);
}

.feature{
    float: left;
    color: rgb(212, 6, 6);
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

.feature h1{
    font-size: 50px;
}
